.header {
  nav {
    padding: 20px 30px 0px 30px;
    background-color: whitesmoke;
  }

  &__logo {
    img {
      height: 40px;
      width: 20%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    h1 {
      font-size: $large;
      color: $purple;
    }
  }

  &__menu {
    //mobile menu
    > span {
      display: block;
      width: 26px;
      height: 2px;
      background-color: $purple;
      transition: all 300ms ease-in-out;
      &:not(:last-child) {
        margin-bottom: 5px;
      }
    }

    &.open {
      > span:first-child {
        transform: rotate(-45deg) translate(-5px, 6px);
      }
      > span:nth-child(2) {
        opacity: 0;
      }
      > span:last-child {
        transform: rotate(45deg) translate(-5px, -6px);
      }
    }
  }

  &__links {
    a {
      font-size: $medium;
      color: $purple;
      width: 0;
      transition: width 1s;

      &:not(:last-child) {
        margin-right: 50px;
      }

      &:hover {
        border-bottom: 2px solid $purple;
        width: 100%;
      }
    }
  }

  &__menus {
    position: absolute;
    right: 0px;
    height: 92vh;
    //top: 18.45vh;
    background: $purple;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 300ms ease-in;
    z-index: 999;

    li {
      list-style: none;
      margin: 0 0 50px 0;
      opacity: 0;
      transition: opacity 2s ease;
    }
    a {
      font-size: $large;
      color: whitesmoke;
    }
    &.active {
      transform: translateX(0%);
    }
    &.active li {
      opacity: 1;
    }
  }
}

.s1 {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section h1 {
  color: $purple;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
}

.s2 {
  background-image: url(/img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section p {
  color: $purple;
  font-size: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: left;
  border: 1px solid $purple;
  padding: 20px;
}

.s3 {
  background-image: url(/img/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.section h2 {
  color: whitesmoke;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  border: 1px solid whitesmoke;
}

.section p1 {
  color: $pink;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  text-align: left;
  border: 1px solid whitesmoke;
  padding: 20px;
  background: whitesmoke;
  opacity: 0.8;
  text-align: center;
}
