html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: "Baloo Tamma 2", cursive;
  color: #7209b7;
  font-size: 1.125rem;
  overflow: hidden;
  background-color: #fceef3af;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.header nav {
  padding: 20px 30px 0px 30px;
  background-color: whitesmoke;
  position: relative;
  height: 100px;
  top: 0;
  z-index: 999;
}

.header__logo img {
  height: 40px;
  width: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.header__logo h1 {
  font-size: 1.5rem;
  color: #7209b7;
}

.header__menu > span {
  display: block;
  width: 26px;
  height: 2px;
  background-color: #7209b7;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.header__menu > span:not(:last-child) {
  margin-bottom: 5px;
}

.header__menu.open > span:first-child {
  -webkit-transform: rotate(-45deg) translate(-5px, 6px);
          transform: rotate(-45deg) translate(-5px, 6px);
}

.header__menu.open > span:nth-child(2) {
  opacity: 0;
}

.header__menu.open > span:last-child {
  -webkit-transform: rotate(45deg) translate(-5px, -6px);
          transform: rotate(45deg) translate(-5px, -6px);
}

.header__links a {
  font-size: 1.125rem;
  color: #7209b7;
  width: 0;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.header__links a:not(:last-child) {
  margin-right: 50px;
}

.header__links a:hover {
  border-bottom: 2px solid #7209b7;
  width: 100%;
}

.header__menus {
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 14vh;
  background: #7209b7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 300ms ease-in;
  transition: -webkit-transform 300ms ease-in;
  transition: transform 300ms ease-in;
  transition: transform 300ms ease-in, -webkit-transform 300ms ease-in;
  z-index: 999;
}

.header__menus li {
  list-style: none;
  margin: 0 0 50px 0;
  opacity: 0;
  -webkit-transition: opacity 2s ease;
  transition: opacity 2s ease;
}

.header__menus a {
  font-size: 1.5rem;
  color: whitesmoke;
}

.header__menus.active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.header__menus.active li {
  opacity: 1;
}

.s1 {
  background-image: url(/img/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.section h1 {
  color: #7209b7;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  text-align: center;
}

.s2 {
  background-image: url(/img/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.section p {
  color: #7209b7;
  font-size: 20px;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  text-align: left;
  border: 1px solid #7209b7;
  padding: 20px;
}

.s3 {
  background-image: url(/img/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}

.section h2 {
  color: whitesmoke;
  font-size: 50px;
  position: absolute;
  top: 30%;
  left: 50%;
  -webkit-transform: translate(-50%, -30%);
          transform: translate(-50%, -30%);
  text-align: center;
  border: 1px solid whitesmoke;
}

.section p1 {
  color: #f72585;
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 55%;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  text-align: left;
  border: 1px solid whitesmoke;
  padding: 20px;
  background: whitesmoke;
  opacity: 0.8;
  text-align: center;
}

.services {
  background-image: url(/img/services.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
}
/*# sourceMappingURL=style.css.map */